@import "tailwindcss";
@import "highlight.js/styles/github-dark.css";
@plugin "@tailwindcss/typography";

@theme {
  --color-light: #f9faf8;
  --color-surface: #eaeaec;
  --color-dark: #2c2d38;

  --color-primary: #f5a115;
  --color-primary-fg: var(--color-light);

  --color-secondary: #0598d6;
  --color-secondary-fg: var(--color-light);

  --color-info: #3698c9;
  --color-info-fg: var(--color-light);

  --color-success: #32ba54;
  --color-success-fg: var(--color-light);

  --color-warning: #e0872d;
  --color-warning-fg: var(--color-light);

  --color-danger: #d45542;
  --color-danger-fg: var(--color-light);

  --color-muted: #707372;
  /* --color-border: var(--color-fg); */
  --color-link: var(--color-primary);
}

:root {
  --color-bg: var(--color-light);
  --color-fg: var(--color-dark);
}

.dark {
  --color-bg: var(--color-dark);
  --color-fg: var(--color-light);
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: Arial, Helvetica, sans-serif;
}

.background-texture {
  @apply fixed inset-0 -z-10;

  background-color: #e5e5f7;
  background-image: radial-gradient(
    ellipse farthest-corner at 10px 10px,
    #bebebe,
    #bebebe 50%,
    #e5e5f7 50%
  );
  background-size: 10px 10px;
  opacity: 0.1;
}
