@import "tailwindcss";
@import "highlight.js/styles/github-dark.css";
@plugin "@tailwindcss/typography";

@theme {
  --color-light: #f9faf8;
  --color-surface: #eaeaec;
  --color-dark: #2c2d38;

  --color-primary: #f5a115;
  --color-primary-fg: var(--color-light);

  --color-secondary: #0598d6;
  --color-secondary-fg: var(--color-light);

  --color-info: #3698c9;
  --color-info-fg: var(--color-light);

  --color-success: #32ba54;
  --color-success-fg: var(--color-light);

  --color-warning: #e0872d;
  --color-warning-fg: var(--color-light);

  --color-danger: #d45542;
  --color-danger-fg: var(--color-light);

  --color-muted: #707372;
  /* --color-border: var(--color-fg); */
  --color-link: var(--color-primary);
}

:root {
  --mobile-header-height: 52px;
  --desktop-header-height: 68px;

  --color-bg: var(--color-light);
  --color-fg: var(--color-dark);
}

.dark {
  --color-bg: var(--color-dark);
  --color-fg: var(--color-light);
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  @apply px-4 py-6;
}

.background-texture {
  @apply fixed inset-0 -z-10;

  background-color: #ffffff;
  opacity: 0.2;
  background-image:
    repeating-radial-gradient(circle at 0 0, transparent 0, #ffffff 12px),
    repeating-linear-gradient(#c4c4c455, #c4c4c4);
}

@layer utilities {
  .h-full-container {
    min-height: calc(100vh - var(--mobile-header-height));

    @media (min-width: 768px) {
      min-height: calc(100vh - var(--desktop-header-height));
    }
  }

  .scroll-mt-header {
    scroll-margin-top: calc(var(--mobile-header-height) + 1px);

    @media (min-width: 768px) {
      scroll-margin-top: calc(var(--desktop-header-height) + 1px);
    }
  }
}
